doctype html
html(lang='en')
  head
    meta(charaset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Sluice Gear | Made in the USA
  body
    block body
    link(rel="stylesheet", type="text/css", href='css/reset.css')
    link(rel='stylesheet', type='text/css', href='css/common.css')
    link(rel='stylesheet', type='text/css', href='css/bcd-grid.css')
    link(rel='stylesheet', type='text/css', href='css/bcd-margins-paddings.css')
    link(rel='stylesheet', type='text/css', href='css/bcd-toggler.css')
    link(rel='stylesheet', type='text/css', href='css/footer.css')
    link(href='http://fonts.googleapis.com/css?family=Engagement|Open+Sans+Condensed:300|Open+Sans:300',
      rel="stylesheet", type="text/css")