doctype html
html(lang='en')
  head
    meta(charaset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Sluice Gear | Made in the USA
    link(rel='stylesheet', type='text/css', href='bin/layout.min.css')
    script (function(e,t,n,r,i,s,o){e["GoogleAnalyticsObject"]=i;e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date;s=t.createElement(n),o=t.getElementsByTagName(n)[0];s.async=1;s.src=r;o.parentNode.insertBefore(s,o)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-52244108-1","sluicegear.com");ga("send","pageview")
  body
    block body
    //- Development individual styles

    //- cat css/reset.css css/common.css \
    //- css/bcd-grid.css css/bcd-margins-paddings.css \
    //- css/bcd-toggler.css css/header.css css/footer.css | \
    //- cleancss -o bin/layout.min.css

    //- link(rel="stylesheet", type="text/css", href='css/reset.css')
    //- link(rel='stylesheet', type='text/css', href='css/common.css')
    //- link(rel='stylesheet', type='text/css', href='css/bcd-grid.css')
    //- link(rel='stylesheet', type='text/css', href='css/bcd-margins-paddings.css')
    //- link(rel='stylesheet', type='text/css', href='css/bcd-toggler.css')
    //- link(rel='stylesheet', type='text/css', href='css/header.css')
    //- link(rel='stylesheet', type='text/css', href='css/footer.css')
    
    link(href='http://fonts.googleapis.com/css?family=Engagement|Open+Sans+Condensed:300|Open+Sans:300',
      rel="stylesheet", type="text/css")