extends _layout

block body
  //- Styles
  link(rel='stylesheet', type='text/css', href='bin/landing.min.css')
  .container
    //- Header
    .main-menu-wrapper
      header.clear.main-menu.grid.center
        h1.logo
          a(href='/') Sluice
        ul.pages.plm
          li.shop-link: a(href='/shop') Shop
          li: a(onclick='Sluice.scrollToId("#specs", 500)' href='#specs') Specs
          li: a(onclick='Sluice.scrollToId("#introSection", 500)' href='#productInfo') Product Info
          li: a(onclick='Sluice.scrollToId("#socialSection", 1000)' href='#social') Social
          li.mini-cart-wrapper
    //- Hero Content
    .sluice-hero-wrapper
      #HeroWrapper
      .banner-copy-wrapper
        .banner-copy.grid.center
          .row
            .col.l12.l-txt-left.s-txt-center
              h1 Sluice Hammocks
          .row
            .col.l12.l-txt-left.s-txt-center
              h2 Create your fun
          .row
            .col.l12.l-txt-left.s-txt-center
              h3 Personalized hammocks made in the USA
          .hero-btn-group.plm.ptl.prm
            a.hero-btn.hero-shop-now-btn.shadow.mrm(href='/shop')
              span Shop now
            #learnMoreBtn.hero-btn.hero-learn-more-btn.shadow
              span Learn more
    //- Specs Section
    section#specs.spec-wrapper
      .spec-summary.grid.center
        .row
          .col.l3.m3.s6.spec-icon-wrapper
            img.spec-icon(src='img/spec-icons/icon-dimensions.png')
            .spec-icon-caption 9ft x 5ft
          .col.l3.m3.s6.spec-icon-wrapper
            img.spec-icon(src='img/spec-icons/icon-durable.png')
            .spec-icon-caption Holds up to 400lbs
          .col.l3.m3.s6.spec-icon-wrapper
            img.spec-icon(src='img/spec-icons/icon-weight.png')
            .spec-icon-caption Weighs just 21oz
          .col.l3.m3.s6.spec-icon-wrapper
            img.spec-icon(src='img/spec-icons/icon-warranty.png')
            .spec-icon-caption 2 year warranty
        .row
          .col.l12
            #showAllSpecsBtn.show-all-specs-btn More specs
        .spec-btn-spacer
        .row
          #fullSpecContainer.full-spec-container.hide
            h2.specs-header.pbl Hammock Specs
            table.sluice-table
              thead
                tr
                  th
                  th(colspan='2') Standard Hammock
                  th(colspan='2') Kid's Hammie
              tbody
                tr
                  th.table-lbl Description
                  th(colspan='2') Personal portable hammock for everyone
                  th(colspan='2') Personal portable hammock for kids
                tr
                  th.table-lbl Variants
                  th Single Color
                  th Dual Color
                  th Single Color
                  th Dual Color
                tr
                  th.table-lbl Price
                  th $50
                  th $70
                  th $45
                  th $65
                tr
                  th.table-lbl Country of origin
                  th(colspan='4') USA
                tr
                  th.table-lbl Weight
                  th(colspan='2') 21oz
                  th(colspan='2') 15oz
                tr
                  th.table-lbl Unfolded dimensions
                  th(colspan='2') 9ft x 5ft
                  th(colspan='2') 6ft x 5ft
                tr
                  th.table-lbl Bagged dimensions
                  th(colspan='2') 12in x 7in
                  th(colspan='2') 10in x 6in
                tr
                  th.table-lbl Max height recommendation
                  th(colspan='2') 7ft
                  th(colspan='2') 4ft
                tr
                  th.table-lbl Max weight recommendation
                  th(colspan='2') 400lb
                  th(colspan='2') 300lb
                tr
                  th.table-lbl Materials and construction
                  th(colspan='4')
                    ul
                      li 100% nylon fabric laundered for softness
                      li Breathable, abrasion resistant, colorfast, and water-resistant
                      li Mating snap fasteners on hammock and stuff sack
                      li Heavy duty polyester stitching
                      li Easy disassembly for machine washing
                tr
                  th.table-lbl Attachments and accessories
                  th(colspan='4')
                    ul
                      li 2 Black Diamond aluminum wiregate climbing carabiners included
                      li Drawstring stuff sack with integrated snap fasteners included
                tr
                  th.table-lbl Care instruction
                  th(colspan='4') Machine wash cold, hang dry
                tr
                  th.table-lbl Warranty
                  th(colspan='4') 2 year manufacturer's craftsmanship warranty
            h2.specs-header.pbl Straps Specs
            table(class='sluice-table')
              tbody
                tr
                  th.table-lbl Description
                  th(colspan='4') Pair of two straps to setup hammock with no knots
                tr
                  th.table-lbl Price
                  th(colspan='4') $20
                tr
                  th.table-lbl Country of origin
                  th(colspan='4') USA
                tr
                  th.table-lbl Weight
                  th(colspan='4') 4oz (each) / 8oz (pair)
                tr
                  th.table-lbl Length
                  th(colspan='4') 9.5ft each
                tr
                  th.table-lbl # of attachment points
                  th(colspan='4') 6 attachment points per strap
                tr
                  th.table-lbl Materials and construction
                    th(colspan='4')
                      ul
                        li 3/4in wide no-stretch tubular polyester webbing
                        li Continuous spine construction with heavy duty triple stitched attachment points
                        li Abrasion resistant and tree bark friendly
                        li Mating snap fasteners on straps and stuff sack
                  tr
                    th.table-lbl Accessories
                    th(colspan='4')
                      p Drawstring stuff sack with integrated snap fasteners included
                  tr
                      th.table-lbl Max weight recommendation
                      th(colspan='4') 250lbs each strap
                  tr
                    th.table-lbl Warranty
                    th(colspan='4') 2 year manufacturer's craftsmanship warranty
    //- Intro Section
    section#introSection.parallax-section.brdr-top
      .parallax-bg-pnl-wrapper
          #introSectionParallaxBg.parallax-bg-panel.start-right.tree-beach-pnl
        .parallax-section-copy-wrapper.grid.center
          .row.parallax-section-copy.section-copy.right
            h1 Built for Relaxing
            p
              | Sluice hammocks can be set up in no time and are easily adjusted
              | so you can experience comfort your way. The lightweight laundered
              | nylon fabric is so comfortable you'll want to take a hammock with
              | you wherever you go.
    //- Made in America Section
    section#madeInAmericaSection.made-in-america-section.product-section
      .grid.center
        .row
          .col.l5.m5.l-right7.m-right7
            img.section-img(src='img/straps-shadow.png')
          .col.l6.m6.s-txt-center.l-left5.m-left5
            .section-copy.made-in-america-section-copy.center-vertical.light
              h1 Home Grown
              p
                | Sluice hammocks are handmade in Raleigh, North Carolina with
                | domestically-sourced materials and components. Our hammocks
                | are produced with the highest quality and ethical standards,
                | so you can relax with complete peace of mind.
    //- Portable Section
    section#portableSection.parallax-section.brdr-top
      .parallax-bg-pnl-wrapper
          #portableSectionParallaxBg.parallax-bg-panel.start-right.fabric-pnl
        .parallax-section-copy-wrapper.grid.center
          .row.parallax-section-copy.section-copy.right.l-light
            h1 Portable and Durable
            p
              | Sluice hammocks are designed for easy setup. Their light
              | weight means you can take Sluice hammocks with you to the park
              | to read, or put them in your pack on a hiking trip. The
              | colorful and comfortable laundered nylon is perfect for
              | wherever you relax.
    //- Infographic
    section.infographic-section
      .grid.center
        .row
          .col.l8.m8.s10.l-right2.m-right2.s-right1
            - var imgSrc = 'infographic-' + Math.floor(Math.random() * (21)) + '.png'
            img.infographic-main-img.info-img(src='img/infographic/' + imgSrc)
            //- img.infographic-main-img.info-img(src='img/infographic/infographic.png')
        #infographicTop.row.infographic-small.top
          .col.l2.m2.s2
            img#infographicThread.infographic-small.info-img(src='img/infographic/infographic-thread.png')
          .col.l2.m2.s2.l-right8.m-right8.s-right8.small-inline
            img#infographicClip.infographic-small.info-img(src='img/infographic/infographic-clip.png')
        #infographicBottom.row.infographic-small.bottom
          .col.l2.m2.s2
            img#infographicStash.infographic-small.info-img(src='img/infographic/infographic-stash.png')
          .col.l2.m2.s2.l-right8.m-right8.s-right8
            img#infographicSnap.infographic-small.info-img(src='img/infographic/infographic-snap.png')
    //- Call to Action
    section.call-to-action-section
      .grid.center
          .row
            .col.l12.l-txt-center.s-txt-center.call-to-action-txt
              | Now that you know about us, personalize your hammock and start relaxing!
          .row
            a#callToActionBtn.col.l6.l-right3.call-to-action-btn.hero-btn.shadow(href='/shop') Create my hammock now
    //- Social Media
    section#socialSection.social-section
      .social-title
        h3
          | Follow us on Instagram and Facebook to stay up to date on all of the
          | latest Sluice news
        .social-icon-wrapper
          a.social-icon(href='http://instagram.com/sluicegear')
            img(src='img/social-icons/instagram.png')
          a.social-icon(href='https://www.facebook.com/SluiceHammocks')
            img(src='img/social-icons/facebook.png')
          .social-hashtag
            h3 #sluicing @sluicegear
    //- Footer
    include includes/footer

  //- Shopping Cart
  #shoppingCartContainer.shopping-cart-wrapper.hidden

  //- Scripts
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src='bin/landing.min.js')

  //----------------------------------------------------------------------------

  //- Development individual styles

  //- cat css/hero-gallery.css \
  //- css/landing.css \
  //- css/shopping-cart.css | \
  //- cleancss -o bin/landing.min.css
  
  //- link(rel='stylesheet', type='text/css', href='css/hero-gallery.css')
  //- link(rel='stylesheet', type='text/css', href='css/landing.css')
  //- link(rel='stylesheet', type='text/css', href='css/shopping-cart.css')

  //- Development individual scripts

  //- cat js/jquery.cookie.js \
  //- js/common.js \
  //- js/hero-gallery.jquery.js \
  //- js/shopping-cart.js \
  //- js/main.js | \
  //- minify -js > bin/landing.min.js

  //- script(src='js/jquery.cookie.js')
  //- script(src='js/common.js')
  //- script(src='js/hero-gallery.jquery.js')
  //- script(src='js/shopping-cart.js')
  //- script(src='js/main.js')