extends _layout

block body
  //- Styles
  link(rel='stylesheet', type='text/css', href='bin/shop.min.css')
  .container
    //- Header
    .main-menu-wrapper
      header.clear.main-menu.grid.center
        h1.logo
          a(href='/') Sluice
        ul.pages.plm
          li: a(href='/') Home
          li.shop-link.active Shop
          li: a(href='/#specs') Specs
          li: a(href='/#productInfo') Product Info
          li: a(href='/#social') Social
          li.mini-cart-wrapper
    //- Hammock Builder and Preview
    section.hammock-builder-section
      .grid.center
          .row.pas
            .col.l7.mtl
              h1.hammock-preview-title.mbl Your hammock:
              //- Preview Gallery 
              #shoppingGallery.gallery-wrapper.l-prl
                .gallery-main-wrapper
                  .gallery-main.hammock
                .grid.gallery-thumbnail-list-wrapper
                  .row
                    .col.l3.m3.s3.gallery-thumbnail-wrapper
                      .gallery-thumbnail.hammock
                    .col.l3.m3.s3.gallery-thumbnail-wrapper
                      .gallery-thumbnail.bag
                    .col.l3.m3.s3.gallery-thumbnail-wrapper.straps
                      .gallery-thumbnail.straps
            .col.l5
              .builder-body.grid.pas
    //- Extras and Accessories
    section.extras-section
      .grid.center.extras-grid
          .row.pas
            .col.l12
              h2.ptl Extras:
          .row.pas.extras-row
            .col.l4.m6.s10.s-right1.extras-col
              .extras-wrapper
                .extras-thumbnail.straps
                .extras-desc Extra set of straps
                .grid.straps-color-grid.center.ptm
                  .row
                    .col.l12.l-txt-center.m-txt-center.s-txt-center Bag Color:
                  #strapBagColors.row.color-choices
                    .col.s20p.m20p.l20p.color-choice.active(data-color="red")
                      img(src="img/fabric-colors/red-fabric.png")
                    .col.l20p.m20p.s20p.color-choice(data-color="blue")
                      img(src="img/fabric-colors/blue-fabric.png")
                    .col.l20p.m20p.s20p.color-choice(data-color="tan")
                      img(src="img/fabric-colors/tan-fabric.png")
                    .col.l20p.m20p.s20p.color-choice(data-color="burgundy")
                      img(src="img/fabric-colors/burgundy-fabric.png")
                    .col.l20p.m20p.s20p.color-choice(data-color="turquoise")
                      img(src="img/fabric-colors/turquoise-fabric.png")
                #addStrapsToCartBtn.extras-add-to-cart-btn.ptm
                  | Add to cart $20.00
            .col.l4.m6.s10.s-right1.extras-col
              .extras-wrapper
                .extras-thumbnail.neutrino
                .extras-desc Black Diamond Neutrino
                #addCarabinerToCartBtn.extras-add-to-cart-btn.ptm
                  | Add to cart $5.50
    //- Footer
    include includes/footer

  //- Shopping Cart
  #shoppingCartContainer.shopping-cart-wrapper.hidden

  //- Scripts
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src='bin/shop.min.js')

  //----------------------------------------------------------------------------
  //- Development individual styles

  //- cat css/shop.css \
  //- css/shopping-cart.css | \
  //- cleancss -o bin/shop.min.css

  //- link(rel='stylesheet', type='text/css', href='css/shop.css')
  //- link(rel='stylesheet', type='text/css', href='css/shopping-cart.css')

  //-  Development individual scripts
  
  //- cat js/jquery.cookie.js js/common.js \
  //- js/bcd-toggler.jquery.js js/shop-gallery.js \
  //- js/hammock-builder.js js/shopping-cart.js \
  //- js/shop.js | \
  //- minify -js > bin/shop.min.js

  //- script(src='js/jquery.cookie.js')
  //- script(src='js/common.js')
  //- script(src='js/bcd-toggler.jquery.js')
  //- script(src='js/shop-gallery.js')
  //- script(src='js/hammock-builder.js')
  //- script(src='js/shopping-cart.js')
  //- script(src='js/shop.js')
